# Emacs
*~
.projectile

# Go
/vendor

# Profiling
*.prof
*.aux
*.hp
*.ps
*.pdf

# Cabal
dist*
.ghc*
cabal.project.local*

# Stack
.stack-work

# Generator
/terrafomo-gen/ir
/terrafomo-gen/model

# Terraform
.terraform